/* Container Styles */
.experience-detail-container {
    margin: 10px;
    padding: 10px; /* Add padding */
    border-radius: 4px; /* Rounded corners */
}

/* Experience Detail Styles */
.experience-info {
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    animation: slideIn 0.5s ease-in-out;
    backdrop-filter: blur(3px);
    border: 2px solid var(--navbar-bg);
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.experience-info:hover {
    box-shadow: 0 0px 10px var(--primary-color);
}

.experience-image {
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 10px var(--primary-color);
    border-radius: 50% 10% 50% 10% / 10% 50% 10% 50%;
}

.experience-info h1 {
    color: var(--primary-color);
    font-size: 2rem;
    margin-bottom: 20px;
    position: center;
}

.experience-info p {
    color: var(--primary-color-hov);
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.experience-info ul {
    color: (var(--primary-color-hov));
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.experience-info ul {
    color: var(--primary-color-hov);
    padding-left: 20px;
}

/* Animation Styles */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Star Rating Styles */
.star {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url('data:image/svg+xml;utf8,<svg fill="%23ccc" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/></svg>') no-repeat center center;
}

.star.filled {
    background: url('data:image/svg+xml;utf8,<svg fill="%23f00" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/></svg>') no-repeat center center;
}

.star.half-filled {
    background: url('data:image/svg+xml;utf8,<svg fill="%23f00" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/></svg>') no-repeat center center;
    clip-path: inset(0 50% 0 0); /* Clip the left half of the star */
}

/* Vibes Styles */
.vibes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.vibe {
    background-color: var(--navbar-bg);
    border-radius: 20px;
    border: 1px solid var(--primary-color);
    padding: 5px 10px;
    font-size: 14px;
    color: var(--white);
}

/* Reviews Button Styles */
.reviews-button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.reviews-button {
    background-color: var(--primary-color);
    color: var(--navbar-bg);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
}

.reviews-button:hover {
    transform: scale(1.05);
}

/* Modal Styles */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    position: relative;
    background: var(--navbar-bg);
    color: var(--white);
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 800px;
    max-height: 600px; /* Set a fixed height for the modal content */
    overflow-y: scroll; /* Enable vertical scrolling */
}

.modal-content ul {
    padding-left: 20px;
    margin: 0;
}

.modal-content li {
    margin-bottom: 10px;
}

/* Close Button Styles */
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: var(--inactive-delete);
    color: var(--white);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.close-button:hover {
    background-color: var(--active-delete);
}
