/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

:root {
  --primary: #853195;
  --error: #e7195a;
  --background: #ffe9fd;
  --text-color: #333;
  --vibe-bg: #ce8db5;
}

body {
  background: var(--background); /* Changed to use custom variable */
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.create-experience-container,
.user-vibes-container {
  position: relative;
  max-width: 600px;
  margin: 50px auto;
  background: var(--background);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  animation: slide-in 0.5s ease-out;
}

.create-experience-container:hover,
.user-vibes-container:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}

.vibes-list {
  list-style: none;
  padding: 10px;
}

.user-vibe-item,
.experience-vibe-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: var(--vibe-bg);
  color: white;
  border-radius: 10px;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}

.user-vibe-item:hover,
.experience-vibe-item:hover {
  background: var(--primary);
  transform: scale(1.05);
}

.delete-button {
  background: var(--error);
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
}

.delete-button:hover {
  background: #d4184f;
  transform: scale(1.05);
}

.vibes-form {
  display: flex;
  flex-direction: column;
}

.experience-vibes-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  position: sticky;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.experience-vibe-item {
  width: fit-content;
  margin: 0;
  padding-top: 0px;
  padding-bottom: 0px;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.experience-vibe-item input {
  position: sticky;
  width: 16px;
  height: 16px;
  margin-bottom: 3px;
  margin-top: 3px;
}
.experience-vibe-item label {
  position: sticky;
  cursor: pointer;
}

.submit-button,
.home-button {
  background: var(--primary);
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
}

.submit-button:hover,
.home-button:hover {
  background: #6a237a;
  transform: scale(1.05);
}

.submit-button-container {
  min-width: 100%;
  display: flex;
  justify-content: center;
}

.home-button {
  text-decoration: none;
  background: var(--background);
  color: var(--primary);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 5px;
  transition: transform 0.3s ease;
}

.home-button:hover {
  color: var(--primary);
  background: #c9b0c7;
  transform: scale(1.05);
}

.input-field {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;

}
@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
