/* Reset default margins and paddings */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Form container */
.form-container {
    width: 300px; /* Set a fixed width for the form */
    margin: 50px auto; /* Center the form on the page */
    padding: 20px;
    border: 2px solid var(--navbar-bg);
    border-radius: 8px;
    backdrop-filter: blur(2px); /* Apply blur effect */
    animation: slideIn 0.5s ease-in-out; /* Slide in animation */
}

/* Form title */
.form-container h3 {
    margin-top: 0;
    font-size: 1.5rem;
    text-align: center;
    color: var(--primary-color);
}

/* Form labels */
.form-container label {
    display: block;
    margin-bottom: 8px;
    color: var(--primary-color-hov);
}

/* Form inputs */
.form-container input {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Submit button */
.form-container button {
    width: 100%;
    padding: 10px;
    background-color: var(--navbar-bg);
    color: #fff;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.form-container button:disabled {
    background-color: var(--navbar-bg);
    cursor: not-allowed;
}

.form-container button:hover {
    background-color: var(--primary-color);
    color: var(--navbar-bg);
    box-shadow: 0 0 10px var(--primary-color);
}

/* Error message */
.form-container .error-message {
    color: var(--active-delete);
    margin-top: 8px;
    text-align: center;
    border: 1px solid var(--active-delete);
    border-radius: 4px;
    background-color: var(--navbar-bg);
}
