/* Reset default margins and paddings */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Form container */
.form-container {
    width: 300px; /* Set a fixed width for the form */
    margin: 0 auto; /* Center align the form */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Form title */
.form-container h3 {
    margin-top: 0;
    font-size: 1.5rem;
    text-align: center;
    color: #333;
}

/* Form labels */
.form-container label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

/* Form inputs */
.form-container input {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Submit button */
.form-container button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-container button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.form-container button:hover {
    background-color: #0056b3;
}

/* Error message */
.form-container .error-message {
    color: var(--active-delete);
    margin-top: 8px;
    text-align: center;
    border: 1px solid var(--active-delete);
    border-radius: 4px;
    background-color: var(--navbar-bg);
}
