/* SignupThanks.css */

.thank-you {
max-width: 400px;
border: 2px solid var(--primary);
margin: 40px auto;
padding: 20px;
background: #ffe9fd;
border-radius: 4px;
transition: border-color 0.3s ease, box-shadow 0.3s ease;
text-align: center;
}

.thank-you h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

.thank-you p {
    font-size: 1.2em;
    margin-bottom: 30px;
    color: #666;
}

.thank-you a {
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #853195;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.thank-you a:hover {
    background-color: #5f3568;
}
