/* Reset default margins and paddings */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Light background color */
}

/* Container for the thank you message */
.signup-thanks-container {
    max-width: 600px; /* Limit width for content */
    margin: 50px auto; /* Center align horizontally */
    padding: 20px;
    backdrop-filter: blur(2px); /* Apply blur effect */
    border: 2px solid var(--navbar-bg); /* Light border */
    border-radius: 8px; /* Rounded corners */
    text-align: center; /* Center align text */
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out; /* Smooth transition */
}

.signup-thanks-container:hover {
    box-shadow: 0 0 20px var(--primary-color); /* Larger shadow on hover */

}

/* Title styling */
.signup-thanks-container h2 {
    margin-top: 0; /* Remove default margin */
    font-size: 2rem; /* Larger font size */
    color: var(--primary-color); /* Dark text color */
}

/* Paragraph styling */
.signup-thanks-container p {
    font-size: 1.2rem; /* Font size */
    color: var(--primary-color-hov); /* Darker text color */
    margin-bottom: 20px; /* Space below paragraph */
}

/* Link styling */
.signup-thanks-container a {
    display: block; /* Block level display */
    margin: 10px auto; /* Center align horizontally */
    padding: 10px 20px; /* Padding for links */
    background-color: var(--navbar-bg); /* Blue background color */
    border: 1px solid var(--primary-color); /* Pink border */
    color: var(--white); /* White text color */
    text-decoration: none; /* Remove underline */
    border-radius: 4px; /* Rounded corners */
    transition: background-color 0.3s ease, box-shadow 0.3s ease-in-out, color 0.3s ease-in-out; /* Smooth color transition */
}

/* Link hover effect */
.signup-thanks-container a:hover {
    background-color: var(--primary-color); /* Full pink on hover */
    color: var(--navbar-bg); /* Dark text on hover */
    box-shadow: 0 0 10px var(--primary-color); /* shadow on hover */
}
