/* Reset default margins and paddings */
body, html {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}

@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Container for all experience items */
.experience-items-container {
    display: grid; /* Use flexbox */
    flex-wrap: wrap; /* Allow items to wrap if there's not enough space */
    grid-template-columns: 3, 1fr; /* 3 columns with equal width */
    justify-content: flex-end; /* Align items to the right */
}

/* Link styling for experience item */
.experience-link {
    text-decoration: none; /* Remove underline */
    color: var(--primary-color); /* Dark text color */
    transition: color 0.3s ease; /* Smooth color transition on hover */
    animation: slideIn 0.5s ease-in-out; /* Slide in animation */
    height: 50%;
}

/* Link hover effect */
.experience-link:hover {
    color: var(--primary-color-hov); /* Blue color on hover */
}

/* Main container for each experience item */
.experience-item {
    height: 320px; /* Fixed height for each item */
    width: 200px; /* Fixed width for each item */
    border: 2px solid var(--navbar-bg); /* Light border */
    border-radius: 4px; /* Rounded corners */
    padding: 10px; /* Padding around the item */
    margin: 10px; /* Margin between items */
    transition: transform .2s ease-in-out; /* Smooth scale transition on hover */
    backdrop-filter: blur(2px); /* Apply blur effect */
    background-color: rgba(237, 237, 237, 0.1);
}

/* Hover effect on experience item */
.experience-item:hover {
    transform: scale(1.03); /* Scale up on hover */
    box-shadow: 0px 0px 10px var(--primary-color); /* Larger shadow on hover */
}

/* Experience name styling */
.experience-item h4 {
    margin: 0; /* Remove default margin */
    font-size: 16px; /* Font size */
}

/* Image styling */
.experience-item .experience-image {
    width: 100%; /* Full width */
    height: 100px; /* Fixed height */
    margin-top: 0.5rem; /* Space above image */
    border-radius: 25%; /* Rounded corners */
}

/* Location and vibes container */
.experience-item .experience-details {
    margin-top: 0.5rem; /* Space above details */;
}

/* Strong (bold) text styling */
.experience-item .experience-details strong {
    font-weight: bold; /* Bold text */
    margin: 2px 0; /* Space above and below text */
}

/* Vibes styling */
.experience-item .experience-details .vibes {
    margin: 0.5rem; /* Space above vibes */
    font-style: italic; /* Italic text */
    color: var(--primary-color-hov); /* darker primary */
}

/* Pagination container */
.experience-details-list {
    display: grid; /* Use grid layout */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Responsive columns */
    justify-items: center; /* Center items horizontally */

}

