@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* Reset default margins and paddings */
body, html {
    height: 100vh; /* Make sure the app fills the entire screen */
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}

/* Main container for the experience list */
.experience-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

/* Pagination container */
.pagination {
    margin-bottom: 10px; /* Space between pagination and experience details */
}

/* Pagination button */
.pagination__button {
    background-color: var(--white); /* White background color */
    backdrop-filter: blur(2px); /* Apply blur effect */
    color: var(--navbar-bg); /* White text color */
    border: none; /* No border */
    padding: 0.5rem 1rem; /* Padding inside the button */
    margin-right: 0.5rem; /* Space between buttons */
    cursor: pointer; /* Pointer cursor on hover */
    border-radius: 4px; /* Rounded corners */
    transition: transform 0.3s ease-in-out, box-shadow 0.1s ease-in-out; /* Smooth background color transition */
}

/* Active pagination button */
.pagination__button.active {
    background-color: var(--primary-color-hov); /* Darker blue background color */
}

.pagination__button:hover {
    box-shadow: 0 0 10px var(--primary-color); /* Larger shadow on hover */
}

/* Experience details container */
.experience-details-list {
    width: 80%; /* Adjust width as needed */
}

/* Individual experience details */
.experience-details {
    padding: 4px; /* Padding inside each experience */
    margin-bottom: 1rem; /* Space between experiences */
    border-radius: 4px; /* Rounded corners */
}

/* Responsive Design */
@media (max-width: 768px) {
    .experience-list {
        margin-top: 1rem; /* Adjust margin on smaller screens */
    }
    .experience-details-list {
        width: 100%; /* Full width on smaller screens */
    }
    .pagination {
        flex-direction: column; /* Stack pagination buttons vertically */
        align-items: center; /* Center pagination buttons */
    }
    .pagination__button {
        margin-bottom: 0.5rem; /* Space between vertically stacked buttons */
    }
}
