.Landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    color: var(--white);
    padding: 2rem;
    box-sizing: border-box;
}

@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.Landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 1200px;
    margin-top: 2rem;
    padding: 2rem;
    border: 2px solid var(--navbar-bg);
    backdrop-filter: blur(5px);
    background-color: rgba(237, 237, 237, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: slideIn 0.5s ease-in-out;
}

.Landing-title h1 {
    color: var(--primary-color);
    font-size: 3rem;
    margin: 2rem 0;
    text-align: center;
    text-decoration: overline;
}
.features-head {
    color: var(--primary-color);
    font-size: 2rem;
    margin: 2rem 0;
    text-align: center;
    text-decoration: overline;
}
.team-container {
    text-align: center;
    margin: 2rem 0;
}

.team-member-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}
.team-container h3 {
    color: var(--primary-color-hov);
    font-size: 2rem;
    margin-bottom: 1rem;
}

.team-member {
    font-size: 1.5rem;
    color: var(--primary-color-hov);
    margin-top: 2rem;
}

.team-member img {
    width: 100%;
    border: 2px solid var(--primary-color);
    border-radius: 12px;
    box-shadow: 0 0px 10px var(--primary-color);
}
.team-container p {
    font-size: 1rem;
    color: var(--white);
    margin-bottom: 1rem;
}

.Landing p {
    margin: 1rem;
    font-size: 1.2rem;
    color: var(--white);
    text-align: center;
}
.features-header {
    color: var(--primary-color);
    font-size: 3rem;
    margin: 2rem 0;
    text-decoration: overline;
}
.feature {
    text-align: center;
    margin: 1rem 0;
}

.feature h2 {
    color: var(--primary-color);
    font-size: 2rem;
    margin-bottom: 1rem;
}

.feature p {
    font-size: 1.2rem;
    color: var(--white);
    margin-bottom: 1rem;
}

.feature img {
    width: 100%;
    border-radius: 6px;
    margin-bottom: 2px;
    box-shadow: 0 0px 10px var(--primary-color);
}
.Website-link {
    margin: 2rem 0;
}

.home-button {
    font-size: 1.5rem;
    padding: 0.5rem 1.5rem;
    margin-top: 1rem;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    background-color: var(--navbar-bg);
    color: var(--white);
    text-decoration: none;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
}

.home-button:hover {
    background-color: var(--primary-color);
    box-shadow: 0 0px 20px var(--primary-color);
    color: var(--navbar-bg);
}

.footer {
    border-top: 2px solid var(--primary-color);
    margin-top: 3rem;
    text-align: center;
}

.footer p {
    color: var(--white);
    font-size: 1rem;
}
