/* Reset default margins and paddings */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Main container for the ExperienceMap component */
.experience-map-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: var(--navbar-bg);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    margin: auto;
    animation: slideIn 0.5s ease-in-out;
}

/* Heading styling */
#map-header.map-header {
    margin-bottom: 20px;
    color: var(--primary-color);
    display: center;
}

/* Map container styling */
.experience-map {
    width: 100%;
    height: 600px; /* Adjust height as needed */
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .experience-map-container {
        padding: 10px;
    }
    .experience-map-container h3 {
        font-size: 1.5rem;
    }
    .experience-map {
        height: 400px; /* Adjust height for smaller screens */
    }
}

.map-container {
  border-radius: 12px;
    position: relative;
    width: 100%;
    height: 100%;
  }

  .map {
    border-radius: 12px;
    width: 100%;
    height: 100%;
  }

  .marker.active {
    transform: scale(1.25);
  }

  .gm-style-iw-c {
    background-color: var(--navbar-bg);
  }
  .info-window {
    background-color: var(--navbar-bg);
  }
  .info-window-content {
    display: flex;
    padding-top: 4px;
    padding-bottom: 4px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--navbar-bg);
  }

  .info-window-title {
    font-size: 1rem;
    font-weight: bold;
    color: var(--white);
    margin-bottom: 0.5rem;
  }

  .info-window-description {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .info-window-image {
    width: 60%;
    height: auto;
    margin-bottom: 1rem;
  }

  .info-window-button {
    padding: 0.5rem 1rem;
    background-color: var(--primary-color);
    color: var(--navbar-bg);
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 0.9rem;
  }

  .info-window-button:hover {
    background-color: var(--primary-color-hov);
  }
