:root {
    --primary-color: #d1a7e4;
    --primary-color-hov: #bb94d6;
    --navbar-bg: #2d3345;
    --white: #ccc;
    --inactive-delete: #835656;
    --active-delete: #ad1919;
}

.navbar {
    background-color: #2d3345;
    background: rgb(237, 237, 237, .1);
    backdrop-filter: blur(6px);
    margin: 6px;
    margin-bottom: 0;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px var(--primary-color);
    transition: box-shadow 0.3s ease-in-out;
}

/* Container for logo and navigation */
.navbar__container {
    width: inherit;
    display: flex;
    align-items: center;
    width: inherit;
    max-height: 65px;
}

/* Logo link */
.navbar__logo {
    text-decoration: none;
    color: var(--primary-color-hov);
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: auto;
    transition: color 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.navbar__logo:hover {
    color: var(--primary-color);
    filter: drop-shadow(0px 0px 10px var(--primary-color));
}

/* Navigation links */
.navbar__nav {
    display: flex;
    align-items: center;
    color: var(--white);
}

/* Styling for user section when logged in */
.navbar__user {
    color: var(--white);
}

.navbar__user-email {
    font-weight: bold;

}

.navbar__logout-btn {
    background-color: var(--inactive-delete);
    color: var(--white);
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    cursor: pointer;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.navbar__logout-btn:hover {
    background-color: var(--active-delete);
    transform: scale(1.02);
}

/* Styling for guest section when not logged in */
.navbar__guest {
    width: inherit;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.navbar_link {
    text-decoration: none;
    color: var(--white);
    margin: auto;
    font-weight: bold;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
    border-radius: 4px;
    flex-direction: column;
    margin-right: 1rem;
}

.navbar_link:hover {
    transform: scale(1.05);
    color: var(--primary-color);
    filter: drop-shadow(0px 0px 10px var(--primary-color));
}

/* Styling for map view section */
.filter_container {
    width: inherit;
    display: flex;
    flex-direction: row;
    margin: auto;
    gap: 1rem;
    background-color: #2d3345;
    background: rgb(237, 237, 237, .1);
    padding: 10px;
    backdrop-filter: blur(6px);
    border-radius: 10px;
    box-shadow: 0px 0px 10px var(--primary-color);
    transition: box-shadow 0.3s ease-in-out;
    margin-top: 1rem;
    width: fit-content;
    height: fit-content;
}

.filter_container:hover {
    box-shadow: 0px 0px 10px var(--primary-color);
}
.navbar__map-view {
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
    .navbar__container {
        height: 20px;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .navbar__logo {
        font-size: .5rem;
    }
    .navbar__user-email {
        font-size: .5rem;
    }
    .navbar__logout-btn {
        padding: 0.2rem .2rem;
        margin-right: .5rem;
        margin-left: .5rem;
        scale: 0.8;
    }
    .navbar_link {
        margin: 0;
        margin-right: .5rem;
        font-size: .6rem;
    }
}
